@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

     
/***********************************************************************HEADER**************************************************************/

.nav-item{
  margin: 10px;
  }


  header{
    width: 100%;
  }


  
  .navbar{
  
      background-color: whitesmoke;
  
  }
  
  .texto-tres-imagenes-header{
  
      font-size: 9px;
      }
  
      .nav-bar-segundo-encabezado{
  height: 70px;
      }
  
  
      .sphere{
        width: 90px;  
      }
  
  
  /*LETRAS DESLIZANTES*/
  .button {
    margin-right: 5px;
    height: auto;
    background: transparent;
    padding: 0;
    border: 5px;
    left: -15px;
  }
  
  .button {
    --border-right: 6px;
    --text-stroke-color: #2E2E2E;
    --animation-color:#2E2E2E;
    --fs-size: 25px;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  
  /***********************************************************************HEADER FINAL**************************************************************/
  
  /*Contenedor negro*/
  
  
  
  .container__menu{
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: #2E2E2E;
    padding: 0px 20px;
    
  
  }

  
  
  .menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
    position: relative;
    
  }
  
  .nav-menu-negro{
    height: 100%;
    top: 0;
    position: absolute;

    
  }

  
  .nav-menu-negro > ul{
  
      height: 100%;
      display: flex;
      
      
  
  }
  
  .nav-menu-negro  ul  li {
    height: 100%;
    list-style: none;
    position: relative;
    
  }
  
  .nav-menu-negro > ul > li:first-child > a {
  background-image: url(../IMAGENES/casa\ negra.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 20px;
  
  }
  
  
  .nav-menu-negro > ul > li:first-child:hover > a {
    background-image: url(../IMAGENES/casa\ negra.png);
  
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    color: #2E2E2E;
    }
  
  
  
  .nav-menu-negro > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 300ms ease;
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;  
  
  }
  
  
  
  
  
  .nav-menu-negro > ul > li > a:hover {
  transform: scale(1.1);
  background: whitesmoke;
  color: #2E2E2E;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  
  }
  
  #selected{
    transform: scale(1.1);
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    color: #2E2E2E;
    margin-right: 55px;
    padding: 15px;
  
  
  
  }
  
  .nav-menu-negro ul li ul{
  
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
  }
  
  
  .nav-menu-negro ul li:hover ul{
  
    visibility: visible;
    opacity: 1;
    top: 70px;
  }
  
  .nav-menu-negro ul li ul:before{
  
    content: '';
    width: 0;
    height: 0;
    border-left:  12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid whitesmoke ;
    top: -12px ;
    left: 20px;
    position: absolute;
  
  
  }
  
  
  .nav-menu-negro ul li ul li a{
    display: block;
    color: #2E2E2E;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
  }
  
  
  .nav-menu-negro ul li ul li a:hover{
  
  
    background:#2E2E2E;
    color: whitesmoke;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  
  }
  
  /*Elementos responsivos*/
  #icon__menu{
  
  color: whitesmoke;
  font-size: 26px;
  cursor: pointer;
  width: 26px;
  height: 100%;
  padding: 16px 16px 17px 16px;
  align-items: center;
  display: none;
  
  
  
  }
  
  #check__menu{
    display: none;
  }
  
  #label__check{
    width: 26px;
    height: 100%;
    display: none;
  }
  
  
  
  /*Sección del video*/
  
  #video-sp{
    padding: 0px;
  }
  

  
/*CARROUSEL*/


.carousel{
  width: 600px;
  height: auto;
  top: 10px;
}


#img{
  border-radius: 15px;
}


.contenedor-carrousel{
  justify-content: center;

  
}



/*Servicios*/
.service-section{
  padding: 70px 0;
  color: whitesmoke;
  /*background-color: #2E2E2E ;*//*Es el fondo de los servicios*/
  
  

}





.service-section .container{/*lOs div a mover*/

  width: 100%;
  margin: auto;
  

}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.service-section .title{/*"Servicios*/
 color:#2E2E2E; 
 position: relative;
 padding-bottom: 25px;
 font-weight: 700;
 font-size:  32px;
 text-transform: capitalize;
 text-align:center;
}



.service-section .title span{ /*"SPHERE*/
  color:#2E2E2E;
}

.service-section .title:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 140px;
  height: 3px;
  background-color: #B4122B;
  transform: translateX(-50%);
  text-align: center;
}

.service-section .title:after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 45px;
  height: 6px;
  background-color: whitesmoke;
  transform: translateX(-50%);
}


.service-section .description{
  letter-spacing: 1px;
  font-size: 20px;
  color:#2E2E2E;
  font-weight: 600;
  text-align: center;
}

.service-section .service-column{
  max-width: 30.333333%;
  padding: 0 50px;
}

.service-section .service-column .single-service{

  position: relative;
  margin-top: 30px;
  background-color:#2E2E2E;
  border-radius: 0;
  padding: 40px 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align: center;
  border-radius: 15px;
}

.service-section .service-column .single-service .content{/*Cambiar el largo de los divs*/


  position: relative;
  z-index: 20;
  height: auto;
  margin: 15px;
  justify-content: space-between;

}


.service-section .service-column .single-service .content .icon{

  display: inline-block;
  margin-bottom: 25px;
  width: 70px;
  height: 70px;
  background-color: whitesmoke;
  border-radius: 5px;
  line-height: 70px;
  text-align: center;
  color: #2E2E2E;
  font-size: 30px;
  transition: all 0.5s;

}

.service-section .service-column .single-service:hover .content .icon{
  background-color: #2E2E2E;
  color: whitesmoke;
  border-radius: 50px;
  transition: 0.5s;
}


.service-section .service-column .single-service .content .main-title{

  margin-bottom: 20px;
  font-weight: 700;
  font-size: 23px;
  color:white;
  transition: color 0.3s;
}

.service-section .service-column .single-service:hover .content .main-title{
  color:#2E2E2E;
  border-radius: 50px;
  transition: 0.5s;
}

.service-section .service-column .single-service:hover .content .learn-more{
  color:#2E2E2E;
  border-radius: 50px;
  transition: 0.5s;
}




.service-section .service-column .single-service .content .description{

  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  color:whitesmoke;
  transition: color 0.3s;
}

.service-section .service-column .single-service:hover .description{

  color: #2E2E2E;
}

.service-section .service-column .single-service .content .learn-more{
color: whitesmoke;
text-decoration: none;
font-size: 18px;
position: relative;
font-weight: 500;
transition: color 0.3s;
}

.service-section .service-column .single-service .content .learn-more:after{

  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: whitesmoke;
  transition: background-color .3s;
}

.service-section .service-column .single-service:hover .learn-more:after{
  background-color:#2E2E2E;
}


.service-section .service-column .single-service .circle-before{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%,-40%);
  width: 150px;
  height: 150px;
  background-color: whitesmoke;/*Color del circulo*/
  border-radius: 50%;
  transition: all 0.6s;
}


.service-section .service-column .single-service:hover .circle-before{
  width: 100%;
  height: 100%;
  transform: none;
  border: 0;
  border-radius: 0;
  opacity: 1;
}



#boton-azul{
  background-color:#2E2E2E;
}



.service-section .service-column .single-service:hover .content .btn-blue{
  background-color: #FBBE07;
  border-color:#2E2E2E;
  color: #2E2E2E;
}

.service-section .service-column .single-service:hover .content .btn-red{
  background-color: #1B8855;
  border-color:#2E2E2E;
  color: whitesmoke;
}


.service-section .service-column .single-service .content .btn-purple{
  background-color: #8C52FF;
  border-color:#2E2E2E;
  color:whitesmoke;
}

.service-section .service-column .single-service:hover .content .btn-purple{
  background-color: #FF66C4;
  border-color:#2E2E2E;
  color:whitesmoke;
}









footer{
  width: 100%;
  height: 230px;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #2E2E2E;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}






.Logo_Footer{
  top: 125px;
  font-size: 20px;
  color: white;
  position: absolute;
  font-weight:700;

}

.Logo_Footer2{
  top: 150px;
  font-size: 15px;
  position: absolute;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  
}

/*LOGO FOOTER*/



.contenedordeiconos, .menu_opcionaes_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
    margin-bottom: 1rem;
}

.redes_sociales{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid white;
  background-image: url();
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
}

.redes_sociales:hover{
  background-color: #2E2E2E;
  filter: invert(1);
}

.redes_sociales:nth-of-type(1){
  background-image: url(../IMAGENES/face.png);
}

.redes_sociales:nth-of-type(2){
  background-image: url(../IMAGENES/link.png);
}

.redes_sociales:nth-of-type(3){
  background-image: url(../IMAGENES/twiter.png);
}

.redes_sociales:nth-of-type(4){
  background-image: url(../IMAGENES/insta.png);
}

.menu_opcionaes_footer{
  list-style-type: none;
  color: white;
  font-size: 20px;
} 

.menu-item{
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menu-item:hover{
  opacity: 1;

}

.copy_right{
  color: white;
  opacity: 0.3;
  text-align: center;
  position: absolute;
  top: 180px;
}



/* for all social containers*/

.linea_izquierda{
  width: 35%;
  position: absolute;
  left: 2%;
  color: whitesmoke;
  top: 70px;
}

.linea_derecha{
  width: 35%;
  position: absolute;
  left: 63%;
  color: whitesmoke;
  top: 70px;
}
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.carde {
  width: fit-content;
  height: fit-content;
  min-width: 100px;
  background-color:#2E2E2E;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  top: 20px;
  position: absolute;
  margin: 5px;
}








.acerca{
  background: #2E2E2E;
  position: relative;
  width: 100%;
  height: 370px;
  border-right: 50px solid transparent;
  border-top: 50px solid transparent;
  border-left: 20px solid white;
  border-bottom: 50px solid white;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
 
}

.titulo-acerca{
  color: whitesmoke;
  position: absolute;
  font-weight: 800;
  font-size: 2.5rem;
  top: -25px;

}


.parrafo-acerca{
  color: whitesmoke;
  position: absolute;
  top: 40px;
  font-size: 1.5rem;
  margin: 10px;
}


@media screen and (max-width:1075px){

  .titulo-acerca{
      color: whitesmoke;
      position: absolute;
      font-weight: 800;
      font-size: 2.2rem;
      top: -25px;
      margin: 10px;

  
    }
  
  
    .parrafo-acerca{
      color: whitesmoke;
      position: absolute;
      top: 40px;
      font-size: 1.2rem;
      margin: 10px;

    }



}


/*SECCION BLOG INICIO*/

/*Blog*/
#blog{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom:  1px solid rgba(0, 0, 0, 0.05);
  

}

.blog-heading{


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.blog-heading span{

  color:#2E2E2E;


}

.blog-heading h3{
  margin-top: 15px;
  font-size: 2.5rem;
  color:#2E2E2E;
  font-weight: 800;
  border-radius: 15px;

}

.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;


}

.blog-box{


  width: 350px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 40px;


}

.blog-img{

  width: 100%;
  height: auto;

}

.blog-img img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.blog-text{

padding: 30px;
display: flex;
flex-direction: column;

}

.blog-text span{

  color: #2b2b2b;
  font-size: 0.9rem;
}

.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #2b2b2b;


}

.blog-text .blog-title:hover{
  color: #f33c3c;
  transition: all ease 0.3s;
}

.blog-text p {

  color: #2b2b2b;
  font-size: 1rem;
  display:  -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;

}

.blog-text a{
  color: #0f0f0f;

}


.blog-text a:hover{
  color: #2b2b2b;
  transition: all ease 0.3s;
}

      
  /*SECCION BLOG FINAL*/























/**************************************************************************MEDIA QUERYS***********************************************************************/




/*SERVICIOS INICIO*/
@media screen and (max-width: 992px){

  .service-section .service-column{
      max-width: 100%;
      padding: 0 50px;
  }
  
  
}


@media screen and (max-width: 439px){

  .service-section .service-column{
      max-width: 100%;
      padding: 0 50px;
  }
  
  
}
 
@media screen and (max-width: 1200px){

  .service-section .service-column{
      max-width: 50%;
      padding: 10px;
      
  }
  
.service-section .service-column .single-service .content{/*Cambiar el largo de los divs*/

  position: relative;
  z-index: 20;
  height: auto;
  width: auto;
  height: auto;
  padding: 30px 40px 30px 40px;
  margin: 0px;

}
.service-section .container{/*lOs div a mover*/

  width: 100%;
  margin: auto;
  

}

}

@media screen and (max-width: 749px){
  .service-section .service-column{
    max-width: 100%;
    padding: 10px;
  }
}



/*SERVICIOS FINAL*/


  
  /*En esta media Query hacemos que los iconos de direccion, accesar y usuario se alineen al centro cuando el tamaño sea menos de 770px*/
  @media screen and (max-width:770px){
    .contenedor-de-elementos{
  flex-direction: column;
  }  
  
  .button{
    justify-content: center;
    flex-direction: column;
  align-items: center;
  
  }
  
  }
  
  
  /*Esta es la separación que tendrán las letras de sphere del logo conforme se vaya contrayendo la página*/
  @media screen and (max-width:860px){
    .button{
        left: -1%;
  margin-left: 7px;  
  }  
  
  }
  
  @media screen and (max-width: 770px){
  
  
    .nav-menu-negro{
      position: relative;
    }
  
    .nav-menu-negro > ul{
  
      flex-direction: column;
      background-color: #2E2E2E;
      left: 0;
      top: 12.5px;
      position: absolute;
      width: 100%;
      height: 0px;
      transition: all 300ms ease;
      z-index: 100;
      padding: 0px;
      opacity: 0;
      visibility:hidden;
  
    }
  
    .container__menu{
      padding: 0;
    }
  
    .nav-menu-negro > ul > li >a:hover{
  
      transform: scale(1);
  
    }
  
    .nav-menu-negro  ul li ul{
  
      left: 90px;
    }
  
  
    .nav-menu-negro > ul > li:hover ul {
      top: 50px;
    }
  
    .nav-menu-negro > ul > li:first-child a{
  
      background-position: 20px;
    }
  
  
    #selected{
  
      transform: scale(1);
      
    }
  
    .navbar{
      padding: 10px;
    }
  
  
    #label__check{
      display: block;
    }
  
    #icon__menu{
      display: flex;
    }
  
    #check__menu:checked ~ nav > ul{
  
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
  
  
  
  }


  /*MD de la seccion ACERCA DE INICIO*/
  

@media screen and (max-width:616px){

  .titulo-acerca{
      color: whitesmoke;
      position: absolute;
      font-weight: 800;
      font-size: 2.0rem;
      top: -25px;
      margin: 10px;

  
    }
  
  
    .parrafo-acerca{
      color: whitesmoke;
      position: absolute;
      top: 40px;
      font-size: 1.0rem;
      margin: 10px;

    }

  }


  @media screen and (max-width:500px){

      .titulo-acerca{
          color: whitesmoke;
          position: absolute;
          font-weight: 800;
          font-size: 1.5rem;
          top: -25px;
          margin: 10px;

      
        }
      
      
        .parrafo-acerca{
          color: whitesmoke;
          position: absolute;
          top: 40px;
          font-size: 0.8rem;
          margin: 10px;

        }
  
      }
  
      @media screen and (max-width:350px){

          .titulo-acerca{
              color: whitesmoke;
              position: absolute;
              font-weight: 800;
              font-size: 1.2rem;
              margin: 10px;
  
          
            }
          
          
            .parrafo-acerca{
              color: whitesmoke;
              position: absolute;
              top: 40px;
              font-size: 0.8rem;
              margin: 10px;
  
            }
      
          }


  /*MD de la seccion ACERCA DE FINAL*/









